Debug/
*.vpj
*.vpw
*.vpwhistu
*.vtg

test_c_cxx/testCodeViz/jrfonseca.gprof2dot/
test_c_cxx/testCodeViz/jrfonseca.xdot/
test_c_cxx/testCodeViz/mvertes.free.fr/
.*.swp
BSPErathostenes-master/
LePUS3/
morphin-read-only/
